{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% load staticfiles %}


{% block content %}

<div class="container-fluid"
    style="background-image: url(http://wallpapercrafter.com/uploads/posts/11205-___cityscape-skyscraper-architecture-and-skyline-hd.jpg),linear-gradient(330deg, rgba(56, 64, 70, 0.5) 0%, rgba(86, 64, 88, 0.699) 100%); background-blend-mode: overlay; background-repeat:no-repeat; background-size: cover; background-position: center; ">
    <div class="row" style="padding-bottom: 10%;">
        <div class="col-md-4 mx-auto mt-5 bg-light pt-5 pb-3">
            <div class="text-center">
                <div class="user-image mt-5">
                    <img src="{{user.profile.profile_pic.url}}" alt="" height="250" width="250"
                        style="border-radius: 50%;">
                </div>
                <hr>
                <p class="mt-2">Username: <strong>{{user.profile.user}}</strong></p>
                <p class="card-text">Email: <strong>{{user.profile.email}}</strong></p>
                <p class="card-text">Email: <strong>{{user.profile.neighborhood}}</strong></p>
                <p class="card-text">Bio: {{user.profile.bio |safe}}</p>


            </div>
        </div>
    </div>


</div>
{% endblock %}